DATABASE_URL="postgresql://<username>:<password>@<host>:<port>/<db_name>"
PORT=3001
FRONTEND_URL="http://localhost:3000"
JWT_SECRET="your-secret-here"
REFRESH_TOKEN_SECRET="your-refresh-secret-here"
UPLOADTHING_TOKEN='token_here'
RESEND_API_KEY="your-resend-api-key-here"
FROM_EMAIL="no-reply@yourdomain.com"